/* For Tablet*/
@media (max-width:1000px){
    .item-section{
        width: 48%;
    }
    .detail-left{
        width: 100% !important;
        clear: both ;
        margin: 0 auto;
    }
    .main-image{
        width: 100%;
    }
    .detail-comment .avatar-image{
        width: 10%;
    }
    .column-comment .avatar-comment{
        font-size: 14px;
    }
    #ordernow {
        background-color: #192a56;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        float: left;
        margin-bottom: 50px;
        margin-left: 250px;
    }
}
/* For Smartphone*/
@media (max-width:670px){
    .item-section{
        width: 100%;
        display: block;
    }
    .detail-left{
        width: 100% !important;
        clear: both ;
        margin: 0 auto;
    }
    .main-image{
        width: 100%;
    }
    .detail-right{
        width: 100%;
    }
    #ordernow {
        background-color: #192a56;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        float: left;
        margin-bottom: 25px;
        margin-left: 150px;
    }
}
